<div class="wrapper">
  <div ></div>
    <h1>Test with long title</h1>
  </div>
  <div>
    <h3>category</h3>
  </div>
  <div>
    <p>description : fvgxgfbbv b; hkfn tnhgn vkh ichgvkhicn hnbk;hkfgj</p>
  </div>
  <div>
    <h3>ppl wanted</h3>
    <h3>duration</h3>
    <h3>mode</h3>
  </div>
  <div>
    <p>begin_at</p>
    <p>address</p>
  </div>
</div>
