<div class="row nav-space"></div>
<div class="row">
  <div
    id="map"
    style="width: 100%;
    height: 80vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <!-- <div>
        <a class="btn btn-add" href="new_questmaster_quest_path">
          <i class="fas fa-seedling"></i>
        </a>
      </div> -->
  </div>
</div>
<div class="row footer-space"></div>
