<!-- POUR VERSION MODAL DE REVIEW NEW
<nav>
  <div class="modal-container">
    <a class="modal-button" href="#popup">Review participations</a>
    <div class="popup" id="popup">
      <div class="popup-inner">
        <div class="popup__text">
          <h3>Review for "<%= quest.title %>"</h3>
          <p>Global rating</p>
          <%#= simple_form_for([quest, @review], url: questmaster_quest_reviews_path(quest), method: :post) do |f| %>
            <%= f.error_notification %>
            <%#= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
                <%#= b.radio_button + b.label {image_tag("rating-#{b.text}.png")} %>
            <%# end %>
            <p>Global comment</p>
            <%#= f.input :content, as: :text %>
            <%#= f.button :submit, "Send review", class:"btn btn-primary" %>
          <%# end %>
        </div>
        <div class="popup__close" href="#">X</div>
      </div>
    </div>
  </div>
</nav> -->

<!-- POUR RATING SUR SYSTEME DE STARS -->
<!-- <div class="row rating-global">
  <div class="col-2" id="1-star-global">
      <%#= image_tag('rating-color.png', class: "rating-ico") %>
  </div>
  <div class="col-2" id="2-stars-global">
      <%#= image_tag('rating-color.png', class: "rating-ico") %>
  </div>
  <div class="col-2" id="3-stars-global">
      <%#= image_tag('rating-color.png', class: "rating-ico") %>
  </div>
  <div class="col-2" id="4-stars-global">
      <%#= image_tag('rating-color.png', class: "rating-ico") %>
  </div>
  <div class="col-2" id="5-stars-global">
      <%#= image_tag('rating-color.png', class: "rating-ico") %>
  </div>
</div> -->
