// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00c07e;
$gray: #0E0000;
$light-gray: #F4F4F4;



$bg-color: #051321;
$color-1: #eb524a;
$color-2: #c63535;
$color-3: #ffbe44;

$white: #ffffff;
$black: #000000;

$gmail: #d14836;
$facebook: #3b5998;
$twitter: #1da1f2;

$sand: #f3f9d2;

$grape: #221d23;


