// Define variables for your color scheme

// For example:
$red: #fe5f55;
$blue: #167FFB;
$yellow: #ffbe44;
// $orange: #E67E22;
$green: #00c07e;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-color: #051321;

$sand: #f3f9d2;
$grape: #221d23;
$taupe: #aaae7f;
$anthracite: #474a2c;


// Nouvelle charte graphique
$gris: #3a3a3c;
$canard: #018889;
$vert: #00d89f;
$orange: #feaf01;
$rouge: #fe472f;

