// Define variables for your color scheme

// For example:
$red: #fe5f55;
$blue: #167FFB;
$yellow: #ffbe44;
// $orange: #E67E22;
$green: #01c07d;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-color: #051321;

$sand: #F4F4E9;
$grape: #221d23;
$taupe: #aaae7f;
$anthracite: #474a2c;


// Nouvelle charte graphique
$gris: #3a3a3c;
$canard: #84aefb;
$vert: #01c07d;
$orange: #ffbe44;
$tomato: #84aefb;

