// Specific CSS for your home-page

#call-for-action {
    // position: absolute; // Ancien design :
    // display: inline-block; // Ancien design :
    // top: 50%; // Ancien design :
    // transform: translateY(-50%); // Ancien design :
    // a {
    //     // bouton Find a quest // Ancien design :
    //     font-size: 1.3rem; // Ancien design :
    //     text-align: center; // Ancien design :
    // }

    p {
        // Act for a better tomorrow
        text-align: center;
        font-size: 2.4rem;
        font-family: 'Indie Flower', cursive;
        color: $gris;
        font-weight: bold;
    }
}

.logo-home {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    // color: #5A534A; // Ancien design :
    // font-weight: 700; // Ancien design :
    h1 {
        font-size: 3.4rem;
    }
}

// .logo p { // Ancien design :
//   color: black;
//   font-size: 20px;
// }

#logo-home {
    height: 14rem;
    width: 14rem;
}

#moto {
    // There is no postponing for changes / Change is NOW
    font-family: 'Indie Flower', cursive;
    font-size: 2.2rem;
    color: $vert;
    font-weight: bold;
}

#home-container {
    background-color: $gris;
    color: white;
    height: 100vh;
}

// POUR LE BOUTON FIND YOUR NEXT QUEST

#home-button {
    color: $orange;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: $orange;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.9rem;
}

#home-button:before,
#home-button:after {
    content: '';
    display: block;
    position: absolute;
    border-color: $orange;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

#home-button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

#home-button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

#home-button:hover:before,
#home-button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

#home-button:hover {
    color: $vert;
    background-color: #fff;
    border-color: #fff
}

.panel {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}


.orange #home-button { // Couleur de base
    color: $orange;
    border-color: $vert;
}

.orange #home-button:before, // Couleur de base
.orange #home-button:after {
    border-color: $orange
}

.orange #home-button:hover:before,
.orange #home-button:hover:after {
    border-color: $vert;
}

.orange #home-button:hover {
    color: white;
    background-color: transparent;
    border-color: $orange;
}

.orange .panel {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}



// ANCIEN DESIGN :


// .btn-medium {
//   background-color: white;
//   border: 1px solid white;
//   padding: 16px 24px;
//   width: 60%;
//   border-radius: 0.5rem;
//   font-weight: lighter;
//   font-size: 24px;
//   transition: opacity 0.3s ease;
//   }

// .btn-medium:hover {
//   opacity: 0.5;
//   color: white;
//   font-weight: 400;
//   border: 2px solid white;
//   cursor: pointer;
//   }

// .container .home {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 24px;
//   font-weight: bold;
//   margin-top: 1rem;
//   padding-top: 1rem;
//   text-align: center;
//   align-content: center;
// }

// .container .home h1 {
//   margin: 1rem;
//   text-align: center;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 36px;
//   font-weight: bold;
// }

// .container .home .logo {
//   margin-top: 1rem;
// }

// .home-content .block-text {
//   font-size: 20px;
//   font-weight: 700;
//   color: black;
//   margin-bottom: 1rem;
//   padding: 1rem;
// }

// .home-content {
//   background-image: asset_url('watercolor.png');
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 90vw;
//   height: 300px;
//   display: flex;
//   text-align: center;
//   flex-direction: column;
//   color: #5A534A;
//   font-size: 24px;
//   font-weight: bold;
//   align-items: center;
//   position: relative;
// }

