// Specific CSS for your home-page

.btn-medium {
  background-color: white;
  border: 1px solid white;
  padding: 16px 24px;
  width: 60%;
  border-radius: 0.5rem;
  font-weight: lighter;
  font-size: 24px;
  transition: opacity 0.3s ease;
  }

.btn-medium:hover {
  opacity: 0.5;
  color: white;
  font-weight: 400;
  border: 2px solid white;
  cursor: pointer;
  }

.container .home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  align-content: center;
}

.container .home h1 {
  margin: 1rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.container .home .logo {
  margin-top: 1rem;
}

.home-content .block-text {
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
}

.home-content {
  background-image: url('watercolor.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 90vw;
  height: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #5A534A;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  position: relative;
}

#call-for-action {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  a {
    font-size: 1.3rem;
  }
  p {
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Indie Flower', cursive;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  color: #5A534A;
  font-weight: 700;
}

.logo p {
  color: black;
  font-size: 20px;
}

#logo {
  height: 5rem;
  width: 5rem;
}

#moto {
  font-family: 'Indie Flower', cursive;
}
