<div class="navbar footer-pog">
    <div id="menuToggle-footer" class="col-2">
      <input type="checkbox" />

      <span></span> <!-- Ne pas effacer !  -->
      <span></span> <!-- Ne pas effacer !  -->
      <span></span> <!-- Ne pas effacer !  -->

      <ul id="menu-footer">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Info</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
      </ul>
    </div>
  </div>
</div>
