<div class="navbar navbar-pog">
    <div class="navbar-main">
      <div class="navbar-logo col-10">
          <%= link_to quests_path, class: "navbar-brand" do %>
          <div id="logo-letters-ico">
          <h1 class="POG-navbar">P</h1>
          <%= image_tag('logo-pog.png', id:"logo-navbar") %>
          <h1 class="POG-navbar">G</h1>
          </div>
          <% end %>
      </div>
        <div id="menuToggle" class="col-2">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />

          <!--
          Some spans to act as a hamburger.

          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>

          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu">
            <a href="#"><li>Home</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Info</li></a>
            <a href="#"><li>Contact</li></a>
            <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
          </ul>
        </div>
      </div>
  </div>



