<div class="navbar navbar-pog">
    <div class="navbar-main">
      <div class="navbar-logo col-4">
          <%= link_to quests_path, class: "navbar-brand" do %>
          <div id="logo-letters-ico">
          <h1 class="POG-navbar">P</h1>
          <%= image_tag('logo-pog.png', id:"logo-navbar") %>
          <h1 class="POG-navbar">G</h1>
          </div>
          <% end %>
      </div>
    </div>
  </div>



