#show-quest-player {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

.show-quest-player-title {
  background-color: rgba(0, 0, 0, 0.03);
  color: $canard;
}

.show-quest-player-content {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

#show-quest-player-content-date{
  p {
    font-size: 2rem;
  }
}

// #test-t {
//   position: relative;
// }
// #card-quest-show-player-join{
//   position: sticky;
// }
