#player-quests-show {
  height: 100%;
}

#show-quest-player {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .row {
    margin: 0
  }
}

.show-quest-player-title {
  background-color: rgb(229, 242, 230);
  color: $vert;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.show-quest-player-content {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}

#show-quest-player-content-date{
  p {
    font-size: 2rem;
  }
}


// POUR BOUTON QUI DESCEND AVEC LE SCROLL
// #card-quest-show-player-join{
//   position: fixed;
//   left: 40vw;
//   top: 22vh;
// }
