#qm-quests-show {
  height: 100%;
}

#show-quest-qm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fbef844f;
  p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .row {
    margin: 0
  }
}

.show-quest-qm-title {
  background-color: $yellow;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.show-quest-qm-content {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

#show-quest-qm-content-date{
  p {
    font-size: 2rem;
  }
}

#ico-pencil-show-qm-quest, #ico-trash-show-qm-quest {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: $vert;
}
