#avatar-profile {
  width: 120px;
}

#player-data {
  width: 100%;
  padding-top: 50px;
}

#profile-card-inner {
  position: relative;
  min-height: 285px;
}

#pencil-card-profile {
  position: absolute;
  font-size: 3rem;
  right: 0;
  top: 0;
  color: $tomato;
}

.rating_ico_profile {
  height: 32px;
}

// STYLE CARD DEFINI DANS _card-qm-quest-index.scss
// SAUF POUR :

.contact {
  position: relative;
  max-width: 420px;
  padding: 40px 20px;
  // overflow: hidden;
  margin: 0 auto;

  @media (min-width: 1024px) {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  main {
    .card-profile { // MODIF SELECTEUR
      float: left;
      width: 100%;
      background-color: white; // MODIF
      box-shadow: 0 0 15px rgba(0,0,0,0.2);

      #card-profile-content {
        float: left;
        width: 100%;
        padding: 20px 30px;
        position: relative;
        text-align: center;

        // @media (min-width: 414px) {
        //   text-align: left;
        // }

        // img {
        //   display: inline-block;
        //   width: 140px;
        //   border-radius: 50%;

        //   @media (min-width: 414px) {
        //     float: left;
        //     width: 30%;
        //     margin-right: 10%;
        //   }
        // }

        aside {
          float: left;
          width: 100%;
          color: black;
          margin-top: 10px;

          @media (min-width: 414px) {
            width: 60%;
          }

          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
