<div class="page-pog page-faq">
  <h1 class='text-center px-4 mb-4'>Everything you need to know</h1>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="mb-0 text-center">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3 class="btn-faq">Who we are</h3>
          </button>
        </div>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>A digital platform powering offline action.
              People of Gaïa is mobilizing people in multiple area! Inciting people to volunteer for social solidarity or give some of their time for civic action making a real-world impact on a cause they care about.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <div class="mb-0 text-center">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3 class="btn-faq">Our goal</h3>
          </button>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="accordion card-body">
          <p>By joining us you'll be able to team up with others for: </p>
          <ul>
            <li><p>Clothed homeless youth</p></li>
            <li><p>Cleaned up million cigarette butts</p></li>
            <li><p>Took care of our elders</p></li>
          </ul>
          <p>You can do much more!</p>
          <p>You’ve got the will and time to help -- Our quest is to give you an easy way to sort what you can do, where you can do it, an adapt it to your calendar.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <div class="mb-0 text-center">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="btn-faq">How to join or create a quest</h3>
          </button>
        </div>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>First: Sign up for an account.</p>
          <p>To join a quest: click on join when you have find a cause that matches your interest.</P>
          <P>To launch a quest: click on the + button in the navigation bar. Easy!
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
          <div class="mb-0 text-center">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h3 class="btn-faq">Partnership</h3>
            </button>
          </div>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p>When we partner with other organizations, we like to make sure the partnership is mutually beneficial, matches our goals and spirit, and rewards our players.</P>
            <P>Your organisation can submit a partnership proposition via email.
          </div>
        </div>
      </div>
  </div>
</div>

