
  <div class="container home">
    <div class="logo">
      <img id='logo' src="https://i.ibb.co/9401565/1.png" alt="Logo" border="0" />
      <h1>People of Gaïa</h1>
      <p>There is no postponing change</p>
    </div>
    <div class="home-content" style="background-image: url(https://i.ibb.co/pxFGTjt/2434397-1.png)">
        <p>Act for a better tomorrow</p>
        <a class="btn-medium" href="/quests">Find a quest</a>
    </div>
  </div>