<div id="content-homepage">
  <div class="row">
    <div class="col mt-3">
      <div class="logo-home">
          <%= image_tag('logo-pog.png', id:"logo-home", border:"0") %>
          <div id="logo-text-home">
            <h1>People of Gaïa</h1>
            <p class="text-center" id="moto">Where will and need for action meet</p>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
        <div id="call-for-action">
          <div class="fancy-button">
            <div class="left-frills frills"></div>
            <%= link_to quests_path, class:"home-links" do %>
              <div class="button-home">Reach a hand</div>
            <% end %>
            <div class="right-frills frills"></div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="home-signing">
        <%= link_to "Sign-up", new_user_registration_path, class:"home-sign" %>
        <%= link_to "Sign-in", new_user_session_path, class:"home-sign" %>
      </div>
    </div>
  </div>
</div>
