<div class="container app-content-inside" id="home-container">
  <div class="row">
    <div class="col mt-5">
      <div class="logo-home">
        <%= image_tag('logo-pog.png', id:"logo-home", border:"0") %>
        <h1>People of Gaïa</h1>
        <p class="text-center" id="moto">Change is NOW.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
        <div id="call-for-action">
          <p class="text-white">Act for a better tomorrow</p>
          <div class="panel orange pb-0">
            <%= link_to quests_path do %>
              <button id="home-button">Find your next quest</button>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>



<!-- AVANT REFONTE -->
<!--   <div class="container home mt-5">
    <div class="logo">
      <%#= image_tag('1.ico', id:"logo", border:"0") %>
      <h1>People of Gaïa</h1>
      <p class="text-center" id="moto">There is no change postponing</p>
    </div>
    <div class="home-content mt-5">
      <div id="call-for-action">
        <p>Act for a better tomorrow</p>
        <a class="btn btn-primary py-2 px-3" href="/quests">Find a quest</a>
      </div>
    </div>
  </div> -->


