<div class="page-pog">
  <div class="container-rewards">
  <h1 class="text-center"> Rewards </h1>
    <div class="rewards-index">
      <div class="card-product card-green">
        <div class="card-product-infos">
          <h2>Rewards for your participations</h2>
          <p>For every 5 participations, receive some<strong> Bonus XP.</strong></p>
        </div>
        <img src="https://cdn2.iconfinder.com/data/icons/game-accessorie-filled-outline/64/5.gaming_filled_outline_reward-trophy-game-winner-victory-512.png" />
      </div>
      <div class="card-product card-orange">
        <img src="https://cdn2.iconfinder.com/data/icons/game-accessorie-filled-outline/64/5.gaming_filled_outline_reward-trophy-game-winner-victory-512.png" />
        <div class="card-product-infos">
          <h2>Rewards for your quests</h2>
          <p>For every 3 quests, receive some<strong> Bonus XP.</strong></p>
        </div>
      </div>
      <div class="card-product card-green">
        <div class="card-product-infos">
          <h2>Rewards for climbing a level</h2>
          <p>For each level you cross, choose a reward among<strong> our partners's rewards</strong></p>
        </div>
        <img src="https://cdn2.iconfinder.com/data/icons/game-accessorie-filled-outline/64/5.gaming_filled_outline_reward-trophy-game-winner-victory-512.png" />
      </div>
      <div class="card-product card-orange">
        <img src="https://cdn2.iconfinder.com/data/icons/game-accessorie-filled-outline/64/5.gaming_filled_outline_reward-trophy-game-winner-victory-512.png" />
        <div class="card-product-infos">
          <h2>Random rewards</h2>
          <p>We will choose, each month, some event for which each participants will receive a <strong>surprise bonus.</strong></p>
        </div>
      </div>
      <div class="card-product card-green">
        <div class="card-product-infos">
          <h2>Rewards for your participations</h2>
          <p>For every 5 participations, receive some<strong> Bonus XP.</strong></p>
        </div>
        <img src="https://cdn2.iconfinder.com/data/icons/game-accessorie-filled-outline/64/5.gaming_filled_outline_reward-trophy-game-winner-victory-512.png" />
      </div>
    </div>
  </div>
</div>
