<div class="page-pog page-player">

  <div class="container-rewards">

  <div class="d-flex flex-column align-items-center">
    <h1 class="pb-3"> Rewards </h1>
    <%= image_tag("gift.png", size:"60x60") %>
  </div>

  <!--Accordion wrapper-->
  <div class="accordion md-accordion accordion-3 z-depth-1-half accordion-profile pt-3" id="accordionEx194" role="tablist"
  aria-multiselectable="true">
  <hr class="mb-0">

   <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="heading5">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx194" href="#collapse5" aria-expanded="true"
        aria-controls="collapse5">
        <h4 class="mb-0 text-center accordion-title-rewards">
          Level-up gifts <div class="animated-icon1 float-right mt-1"><span></span><span></span><span></span></div>
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx194">
      <div class="pt-0">
        <div class="p-1">
          <div class="rewards-index">
            <div class="card-product card-green">
              <h4 class="text-center py-2">LEVEL 2</h4>
              <div class="d-flex justify-content-center">
                <div class="card-product-infos reward-description">
                  <p class="py-2">Win a coupon for a<strong> box of organic vegetables</strong>.</p>
                </div>
              </div>
            </div>
            <div class="card-product card-green">
              <h4 class="text-center py-2">LEVEL 3</h4>
              <div class="d-flex justify-content-center">
                <div class="card-product-infos reward-description">
                  <p class="py-2">Have a 10% discount on<strong> sports equipment</strong>. You must be in shape!</p>
                </div>
              </div>
            </div>
            <div class="card-product card-green">
              <h4 class="text-center py-2">LEVEL 4</h4>
              <div class="d-flex justify-content-center">
                <div class="card-product-infos reward-description">
                  <p class="py-2">It's<strong> restaurant time</strong> for you + 1!</p>
                </div>
              </div>
            </div>
            <div class="card-product card-green">
              <h4 class="text-center py-2">LEVEL 5</h4>
              <div class="d-flex justify-content-center">
                <div class="card-product-infos reward-description">
                  <p class="py-2">Spend a <strong>whole day in a spa</strong>: you are a Quest-aholic!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="heading4">
      <a data-toggle="collapse" data-parent="#accordionEx194" href="#collapse4" aria-expanded="true"
        aria-controls="collapse4">
        <h4 class="mb-0 text-center accordion-title-rewards">
          Questmaster gifts <div class="animated-icon1 float-right mt-1"><span></span><span></span><span></span></div>
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx194">
      <div class=" pt-0">
        <div class="card-product card-green">
          <h4 class="text-center py-2">Five-star quests</h4>
          <div class="d-flex justify-content-center">
            <div class="card-product-infos reward-description">
              <p class="py-2">10 of your quests have a 5* average rating? <strong>100 Bonus XP</strong> for you!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="heading3">
      <a data-toggle="collapse" data-parent="#accordionEx194" href="#collapse3" aria-expanded="true"
        aria-controls="collapse3">
        <h4 class="mb-0 text-center accordion-title-rewards">
          Others <div class="animated-icon1 float-right mt-1"><span></span><span></span><span></span></div>
        </h4>
      </a>
    </div>

      <!-- Card body -->
      <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx194">
        <div class=" pt-0">
          <div class="card-product card-green">
            <h4 class="text-center py-2">Special events</h4>
            <div class="d-flex justify-content-center">
              <div class="card-product-infos reward-description">
                <p>Join our monthly events and get a <strong>surprise bonus / gift</strong>!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  </div>
  <!--/.Accordion wrapper-->
  </div>
</div>

</div>
