.accordion-profile.accordion-3 {
border-radius: 3px; }
// .accordion-profile.accordion-3 p {
// font-size: 1rem; }
.accordion-profile.accordion-3 .fa.fa-angle-down {
margin-top: -10px; }

.accordion-profile .animated-icon1 span {
background: $tomato;
}

.accordion-profile, #play-more {
  a {
    text-decoration: none;
    color: $tomato;
  }
}

.card-body span, #no-phone {
  // font-family: "Montserrat", "sans-serif";
  font-size: 1.6rem;
}
