.btn .btn-medium {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 8px 24px;
  margin: 48px 64px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 32px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn .btn-medium:hover {
  opacity: 1;
  font-weight: 200;
  border: 2px solid white;
}

.more:hover {
  text-decoration: underline;
}

.btn-ghost {
  border: 2px solid black;
  border-radius: 25%;
  padding: 2px;
  font-weight: 400;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.btn-ghost:hover {
  opacity: 1;
}
