.btn .btn-medium {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 8px 24px;
  margin: 48px 64px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 32px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn .btn-medium:hover {
  opacity: 1;
  font-weight: 200;
  border: 2px solid white;
}

.more:hover {
  text-decoration: underline;
}

// .btn-add {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 50%;
//   background: #1EDD88;
//   transition: background 0.3s ease;
// }

// .btn-add:hover {
//   background: #1BCB7F;
//   color: white;
// }
