.fa-1x {
font-size: 2.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: $orange;
}
#list{
  margin-top: 40px;
}
.index-category{
  border: 1px solid black;
  background-color: $vert;
  margin:16px 8px;
  border-radius: 4px;
  box-shadow: 4px 4px 16px #0b7c53;
  padding: 8px;
}
.navbar-brand {
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 32px;
}
.burger-category {
  display: flex;
  flex-direction: row;
}
#burgers img {
    height: 32px;
    width: 32px;
    margin-right: 6px;
  }
