.fa-1x {
font-size: 2.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #ffbe44;
}
#list{
  margin-top: 40px;
}
.index-category{
  border: 1px solid black;
  background-color: #01c07d;
  margin:16px 8px;
  border-radius: 4px;
  box-shadow: 4px 4px 16px #0b7c53;
}
.navbar-brand {
  color: white;
  font-family: "Fredericka the Great", cursive;
}
.burger-category {
  display: flex;
  flex-direction: row;
}

