#map-or-list{
  background-color: white;
  width:100%;
  display:flex;
  justify-content: center;
  border: 5px;
}
#quests-index {
  position: relative;
  align-items: center;
  }
  #map-display {
      margin-left: 1vh;
    }
    #list-display {
      margin-left: 7vh;

    }

.row-map {
  width: 100%;
  height: 80vh;
}

#map {
  height:100%;
}

#list {
  margin-top: 5rem;
}
