#quests-index {
  position: relative;
  } #map-display {
      position: absolute;
      top: 48px;
      z-index: 3;
      margin-left: 16px;
      color: #039678;
    }
    #list-display {
      position: absolute;
      top: 8px;
      z-index: 3;
      margin-left: 16px;
      color: #039678;
    }

