// BURGER MENU

#menu-footer a
{
  text-decoration: none;
  color: white;

  transition: color 0.3s ease;
}

#menu-footer a:hover
{
  color: $rouge;
}

#menuToggle-footer
{
  display: inline-block;
  position: absolute;
  top: 33%;
  right: 0;
  height: 100%;
  padding: 0;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle-footer input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  // top: -7px;
  // left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle-footer span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: $rouge;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle-footer span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle-footer span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle-footer input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $vert;
}

/*
 * But let's hide the middle one.
 */
#menuToggle-footer input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle-footer input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu-footer
{
  position: absolute;
  width: 40vw;
  height: 80vh;
  // margin: -100px 0 0 0;
  padding: 2rem;
  // padding-top: 125px;
  bottom: 14.7vh;
  right: -6.4vw;

  // background: $gris;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 1.5rem;
  color: $gris;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  width: 100%;
  height: 13.34vh;
}

#burger-square-1 {
  background-color: #46da84;
}

#burger-square-2 {
  background-color: #79e4a6;
}

#burger-square-3 {
  background-color: #a2ecc1;
}

#burger-square-4 {
  background-color: #c5f3d8;
}

#burger-square-5 {
  background-color: #e3f9ec;
}

#burger-square-6 {
  background-color: white;
}

/*
 * And let's fade it in from the left
 */
#menuToggle-footer input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 0.9;
}



 .footer-main {
   display: flex;
   justify-content: between;
   align-items: center;
   height: 100%;
   width: 100%;
}

.footer-pog {
  background: white;
  color: black;
  z-index: 3000;
  position: fixed;
  width: 100vw;
  height: 10vh;
}

// .navbar-toggler {
//   margin-top: 0.5rem;
//   height: 48px;
// }

// #navbarSupportedContent {
//   margin-top: 20px;
//   height: 80vh;
//   width: 40vw;
// }

// .avatar {
//   margin-top: 1rem;
//   width: 3rem;
// }

// .dropdow-item {
//   padding: 0.5rem 1.5rem;
// }

// .nav-action-link {
//   display: flex;
//   margin-right: 16px;
// }

// .navbar-collapse {
//   position: absolute;
//   color: black;
//   top: 3rem;
//   right: -20rem;
//   background: $canard;
//   opacity: 0.98;
//   transition: 0.5s;

//   ul {
//     display :block;
//     justify-content : center;
//     align-items: center;
//   }

//   a:hover {
//     font-weight: 500;
//   }

//   a {
//     color: white;
//     font-size: 1rem;
//     font-weight: bold;
//   }
// }

// .navbar-collapse.show {
//   right: 0rem;
//   top: -82.5vh;
//   z-index: 3000;
// }



// .navbar-pog .navbar-brand {
//   width: 40px;
// }

// // .navbar-pog .nav-item-logo img {
// //   width: 28px;
// // }

// .navbar-pog .nav-item {
//   margin-left: 8px;
// }

// #navbarDropdown {
//   margin-left: 16px;
// }

// .navbar-pog .nav-title {
//   margin-right: auto;
// }

// // .navbar-pog .nav-title h1 {
// //   margin: auto;
// //   font-size: 36px;
// // }

// #navbar-links {
//   display: flex;
// }

// .menu-links {
//   display: flex;
//   list-style-type: none;
//   justify-content: space-around;
// }

// // .navbar-toggler-icon {
// //   color: white;
// //   z-index: 2
// // }
