@import "./forms/form-registration-new";
@import "./forms/form-global-review";

// VALABLE POUR TOUS LES FORMS :

.form {
border-radius: 3px;
margin-top: 1rem;
padding: 4px;
}

.form-inputs {
  // &:hover {
  //   background-color: white;
  //   color: black
  // }
}

.form-small-font {
  // font-size: 1.2rem;
  // line-height: 2rem;
  // height: 2rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .form {
  font-size: 24px;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 4px;
  }

  .global-review-container {
    .form-control-label {
      font-size: 24px !important;
      padding-left: 0.8rem;
    }
  }

  .form-control,  {
    font-size: 24px !important;
    option {
      font-size: 16px;
    }
  }

  #quest_category_id, #quest_mode, #user_role {
    height: 48px !important;
  }

  .form-text-area {
    font-size: 16px;
    height: 200px !important;
  }

  #unclickable-on-phone {
    margin-bottom: 80px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .form, .form-control-label {
  font-size: 20px;
  }

  .global-review-container {
    .form-control-label {
      font-size: 12px !important;
      padding-left: 0.8rem;
    }
  }

  .form-control,  {
    font-size: 20px !important;
    option {
      font-size: 12px;
    }
  }

  #quest_category_id, #quest_mode, #user_role {
    height: 44px !important;
  }

  .form-text-area {
    font-size: 12px;
    height: 200px !important;
  }
}
