@import "./forms/form-registration-new";
@import "./forms/form-global-review";

// VALABLE POUR TOUS LES FORMS :

.form {
  font-size: 1.5rem;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 4px;
}

.form-inputs {
  // &:hover {
  //   background-color: white;
  //   color: black
  // }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .form {
    // background-color: $grape;
    // color: $sand;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .form {
    // background-color: $grape;
    // color: $sand;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .form {
    // background-color: $grape;
    // color: $sand;
  }
}
