.navbar-pog {
    background: white;
    color: black;
    z-index: 3000;
    position: fixed;
    width: 100vw;
    height: 10vh;
}

.navbar-main {
    display: flex;
    // justify-content: between;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.navbar-logo {
    height: 100%;
    padding: 0;
}

#logo-letters-ico {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.POG-navbar {
    color: black;
    font-size: 3.6rem;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.navbar-brand {
    height: 100%;
    width: 100%;
}

#logo-navbar {
    height: 80%;
}

#progress-bar {
  width: 80%;
}

.player-info {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 0;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Indie Flower', cursive;
  width: 22vw;
}
