.global-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .form-control-label {
    font-size: 1.9rem !important;
    padding-left: 0.8rem;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .global-review-container {
    width: 90vw;
    min-width: 300px;
  }
}

// Larger devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .global-review-container {
    width: 550px;
  }
}
